<!--首页banner-->
<div id="banner">
	<h2><%= theme.banner_title %></h2>
	<div id="banner-start">
		<span id="banner-start-command"><%= theme.banner_git %></span>
		<a id="banner-start-link" href="<%- theme.banner_git_address %>">
			<i class="arrow right icon"></i>	
		</a>
	</div>
</div>